<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.springbootstudy.app.mapper.UserMapper" >
	
	<update id="updatePhone" parameterType="com.springbootstudy.app.domain.Users">
	    UPDATE users SET phone = #{phone} WHERE login_id = #{loginId}
	</update>
	
	<update id="updatePassword" parameterType="com.springbootstudy.app.domain.Users">
	    UPDATE users SET password = #{password} WHERE login_id = #{loginId}
	</update>
	
	<update id="updateAddress" parameterType="com.springbootstudy.app.domain.Users">
	    UPDATE users SET address = #{address} WHERE login_id = #{loginId}
	</update>
	
	<update id="updateNickname" parameterType="users">
	    UPDATE users 
	    SET nickname = #{nickname} 
	    WHERE login_id = #{loginId}
	</update>
	
	<select id="getUserByNickname" resultType="users">
	    SELECT * 
	    FROM users 
	    WHERE nickname = #{nickname}
	</select>
	
	<select id="getUser" resultType="users">
		SELECT * FROM users WHERE login_id = #{loginId}
	</select>
	
	<insert id="addUser" parameterType="users">
    INSERT INTO users (
        login_id, username,nickname ,password, address,phone,  gender,  birthdate
    )
    VALUES (
        #{loginId}, #{username},#{nickname}, #{password}, #{address},  #{phone},  #{gender}, #{birthdate}
    )
	</insert>
	
	<select id="getUserById" resultType="users">
        SELECT * 
        FROM users 
        WHERE login_id = #{loginId}
    </select>
    
	</mapper>